@using Microsoft.AspNetCore.Mvc.Rendering

<!DOCTYPE html>

<html lang="en">
<head>
      @await RenderSectionAsync("AddToHead")
</head>
<body>
<div>
      @await Html.PartialAsync("_Header.cshtml")
      @RenderBody()
      @await Html.PartialAsync("_Footer.cshtml")
</div>
</body>
</html>
